target/
!.mvn/wrapper/maven-wrapper.jar
!**/src/main/**/target/
!**/src/test/**/target/
data.sqlite
erzbirnumeron
*.log
/plugin-libraries
/plugin-shared-libraries
/plugin_config
/plugin_data
/temp
/nm-plugin
/data
/plugins
/numeron_plugins
/plugin-lib
/logs
qodana.yaml

.gradle
### STS ###
.apt_generated
.classpath
.factorypath
.project
.settings
.springBeans
.sts4-cache

### IntelliJ IDEA ###
.idea
*.iws
*.iml
*.ipr
out

### NetBeans ###
/nbproject/private/
/nbbuild/
/dist/
/nbdist/
/.nb-gradle/
build/
!**/src/main/**/build/
!**/src/test/**/build/

### VS Code ###
.vscode/

### Fleet ###
.fleet/

### MacOS ###
*._Store!
/htmlReport/
temp/
tmp/
