<?xml version="1.0" encoding="UTF-8"?>
<configuration status="error">
    <appenders>
        <Console name="Console" target="SYSTEM_OUT">
            <PatternLayout
                    pattern="%highlight{[%d{yyyy-MM-dd HH:mm:ss.SSS}] [%level] %msg%xEx%n}{FATAL=Black, ERROR=Red, WARN=Yellow, INFO=Green, DEBUG=Cyan, TRACE=White}"/>
        </Console>
        <RollingRandomAccessFile name="File"
                                 filePattern="logs/logs-%d{yyyy-MM-dd HH-mm}-%i.log">
            <PatternLayout
                    pattern="[%d{yyyy-MM-dd HH:mm:ss.SSS}] [%level] %msg%xEx%n"/>
            <Policies>
                <TimeBasedTriggeringPolicy modulate="true" interval="1"/>
                <SizeBasedTriggeringPolicy size="100 MB"/>
            </Policies>
        </RollingRandomAccessFile>
    </appenders>

    <loggers>
        <root level="all">
            <appender-ref ref="Console"/>
            <appender-ref ref="File"/>
        </root>
    </loggers>
</configuration>